/* src/pages/Sidebar.css */

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease, background-color 0.3s ease;
    background-color: #343a40;
    /* Dark background color */
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    /* Text color for header */
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    /* Text color for nav links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link svg {
    margin-right: 10px;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.sidebar.collapsed .nav-link svg {
    margin-right: 0;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #495057;
    /* Hover and active background color */
    color: #adb5bd;
    /* Hover and active text color */
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed+.main-content {
    margin-left: 80px;
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: #adb5bd;
}