/* src/App.css */
.App {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  /* Adjust based on sidebar width */
}

.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  /* Adjust width as needed */
  background-color: #f8f9fa;
  /* Background color */
  z-index: 1000;
  /* Ensure it stays above other content */
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .custom-sidebar {
    width: 200px;
    /* Adjust for smaller screens */
  }
}