/* src/App.css */
.App {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  /* Adjust based on sidebar width */
}

.content {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .custom-sidebar {
    width: 200px;
    /* Adjust for smaller screens */
  }
}